.inputForm{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100vh;
 width: 100vw;
}

.hoursInput{
 outline: none;
}
.hoursInput:focus{
 border: 2px dotted lightblue;
}