.fast{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100vh;
 width:100vw;
}
.historyTitle{
   color: #61dafb;
}

.fast-wrap{
   font-size: 1.25rem;
   display:flex;
   flex-direction: row;
   text-align: left;
   justify-content: space-between;
  
}

.btnWrapper{

}
.fast-wrap button{
   padding: .1rem;
   margin: .25rem;
  
   
}

.historyContainer{
   margin:.75rem;
   border: 2px dotted lightblue;
   
}